<div class="container-fluid center" style="background:transparent url('images/Artboard 2.png') no-repeat center center /cover">
    <div class = "centered" style="margin-left: 25%; align-content:center; width: 50%">
        <h1 style="text-align: center">{{firstName}}, you have successfully created an account and have adopted {{animalName}}!</h1>
        <p style="text-align: center">Click on {{animalName}} to download the image:<p>
        <div class="row" style="background:transparent url('images/forestBackground.png') no-repeat center center /cover">
        <a href="/images/{{animalName}}.png" download="{{animalName}}">
            <img src="/images/{{animalName}}.png" class="d-block w-30 center" alt="..."></a>
        </div>

<h2>Here are some awesome things you can do with your pet (note to grader: this is an unordered list horizontal):</h2>
    <ul>
        <li>exercise <img src="/images/exercise.png"></li>
        <li>groom<img src="/images/grooming.png"></li>
        <li>feed<img src="/images/food.png"></li>
    </ul>
    </div>
</div>
<script src="app.js"></script>